.header {
    composes: flex-wrap from '../../styles.scss';
	align-items: flex-end;
	color: white;
    position: absolute;
    width: 100%;
}

.logo h2 {
  font-size: 250%;
  font-family: 'GoogleSourceSansPro';
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
}