div.theme {
    padding-top: 4em;
    padding-bottom: 4em;
    background: #15141a;
}

.theme h3 {
    color: #fff;
    font-size: 2.4em;
    font-weight: 100;
    display: inline-block;
    margin-right: 4em;
    background: none;
}

.contact {
    background: #ededed;
}

.contact-text {
    text-align: center;
}

.icon1 {
    background: url(../../images/icons1.png) no-repeat -46px -14px;
    width: 28px;
    height: 35px;
    display: inline-block;
    text-align: center;
    margin-bottom: 1em
}

.icon2 {
    background: url(../../images/icons1.png) no-repeat -96px -14px;
    width: 28px;
    height: 35px;
    display: inline-block;
    text-align: center;
    margin-bottom: 1em
}

.icon3 {
    background: url(../../images/icons1.png) no-repeat -145px -14px;
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    margin-bottom: 1em
}

.contact-grids {
    display: flex;
    flex-wrap: wrap;
    padding: 3% 0;
}

.contact-grid {
    width: 33.33%;
    font-weight: 500;
    font-size: 1.25em;
}

.disposition {
    width: 100%;
    text-align: right;
    margin-top: 20px;
}

@media (max-width: 73em) {
    .contact-grids {
        padding: 6% 0;
    }
}

@media (max-width: 24em) {
    .contact-grids {
        padding: 8% 0;
    }
}