$sm: 40em;
$md: 73em;

@import "components/Page/banner.scss";
@import "components/Page/contact.scss";
@import "components/Page/details.scss";
@import "components/Page/features.scss";
@import "components/Page/footer.scss";

@font-face {
  font-family: 'GoogleSourceSansPro';
  src: url('./fonts/SourceSansPro-BlackItalic.ttf') format('truetype'); /* Safari, Android, iOS */
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 300%;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 250%;
  font-weight: 600;
  color: #1a1a1a;
  padding-bottom: 0.7em;
  background: url(./images/line.png) no-repeat 50% 100%;
}

h4 {
  padding-top: 3%;
  font-size: 90%;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #008ed6;
  margin-bottom: 1.2em;
}

a {
  font-size: 100%;
}

header, .application > div > div > div {
  padding: 2% 7%;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

div {
  line-height: 1.4em;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media all and (max-width: 73em) {
  body {
    font-size: 90%;
  }
}

@media all and (max-width: 50em) {
  body {
    font-size: 80%;
  }
}

@media all and (max-width: 46.8em) {
  body {
    font-size: 70%;
  }
}

@media (max-width: 24em) {
  body {
    font-size: 60%;
  }
}